<launch>
	<node name="front_laser" pkg="ls01b_v2" type="ls01b_v2">
        <param name="scan_topic" value="scan1"/>         #设置激光数据topic名称
        <param name="frame_id" value="laser1"/>     #激光坐标
        <param name="serial_port" value="/dev/front_laser"/>  #雷达连接的串口
        <param name="baud_rate" value="460800" />        #雷达连接的串口波特率
        <param name="angle_resolution" value="0.25"/>     #雷达角度分辨率
        <param name="max_range" value="14.0"/>        
        <param name="zero_as_max" value="false"/>        # 设置为true探测不到区域会变成最大值
        <param name="min_as_zero" value="false"/>        # true：探测不到区域为0，false：探测不到区域为inf
        <param name="rpm" value="600"/>                 #　雷达转速
        <param name="angle_compensate" value="true"/>                 #　角度补偿，非同轴
    </node>
    <node name="rear_laser" pkg="ls01b_v2" type="ls01b_v2">
        <param name="scan_topic" value="scan2"/>         #设置激光数据topic名称
        <param name="frame_id" value="laser2"/>     #激光坐标
        <param name="serial_port" value="/dev/rear_laser"/>  #雷达连接的串口
        <param name="baud_rate" value="460800" />        #雷达连接的串口波特率
        <param name="angle_resolution" value="0.25"/>     #雷达角度分辨率
        <param name="max_range" value="14.0"/>
        <param name="zero_as_max" value="false"/>        # 设置为true探测不到区域会变成最大值
        <param name="min_as_zero" value="false"/>        # true：探测不到区域为0，false：探测不到区域为inf
        <param name="rpm" value="600"/>                 #　雷达转速
        <param name="angle_compensate" value="true"/>                 #　角度补偿，非同轴
    </node>
    
    <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
	<param name="destination_frame" value="laser_multi"/>
	<param name="cloud_destination_topic" value="/merged_cloud"/>
	<param name="scan_destination_topic" value="/scan_multi"/>
	<param name="laserscan_topics" value ="/scan1 /scan2" />
	<param name="angle_min" value="-3.141592"/>
	<param name="angle_max" value="3.141592"/>
	<param name="angle_increment" value="0.004363323096185923"/>
	<param name="scan_time" value="0.1"/>
	<param name="range_min" value="0.01"/>
	<param name="range_max" value="25.0"/>
	</node>
	
<!--	<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 10" />-->
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser1" args="0.18 0 0 0 0 0 base_link laser1 10" />
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser2" args="-0.18 0 0 3.14 0 0 base_link laser2 10" />
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_multi" args="0 0 0 0 0 0 base_link laser_multi 10" />
	
</launch>

